@font-face {
  font-family: "NanumGothic";
  src: url("/NanumGothic.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "NanumGothic";
  src: url("/NanumGothicBold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "NanumGothic";
  src: url("/NanumGothicLight.woff2") format("woff2");
  font-weight: 100;
}

:root {
  --karpotic-font-sans: "NanumGothic";
}
