.container {
  color: var(--color-grey-4);
  transition: 0.25s border-color, 0.25s color;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.container.dark {
  color: var(--color-grey-1);
  background-color: var(--color-black-2);
}

.sm {
  padding: 4px 12px;
  gap: 4px;
}

.md {
  padding: 8px 16px;
  gap: 8px;
}

.lg {
  padding: 16px 24px;
  gap: 16px;
}

.sm .icon {
  width: 20px;
  height: 20px;
}

.md .icon {
  width: 24px;
  height: 24px;
}

.lg .icon {
  width: var(--line-height-lg);
  height: var(--line-height-lg);
}

.border {
  border: 1px solid var(--color-grey-4);
}

.border.dark {
  border: 1px solid var(--color-grey-1);
}

.container:hover {
  color: var(--color-black-5);
}

.container.border:hover {
  border-color: var(--color-black-5);
}

.container.dark:hover {
  color: var(--color-white-1);
}

.container.dark.border:hover {
  border-color: var(--color-white-1);
}
