.container {
  color: var(--color-light-unfocused-font);
  transition: 0.25s border-color, 0.25s color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-color: var(--color-light-unfocused-font);
}

.container.dark {
  color: var(--color-dark-unfocused-font);
  background-color: var(--color-dark-component-background);
  border-color: var(--color-dark-unfocused-font);
}

.before-icon {
  flex-direction: row-reverse;
}

.sm {
  padding: 4px 12px;
  gap: 4px;
}

.md {
  padding: 8px 16px;
  gap: 8px;
}

.lg {
  padding: 16px 24px;
  gap: 16px;
}

.sm .icon {
  width: 20px;
  height: 20px;
}

.md .icon {
  width: 24px;
  height: 24px;
}

.lg .icon {
  width: var(--line-height-lg);
  height: var(--line-height-lg);
}

.rounded,
.oval {
  border-width: 1px;
  border-style: solid;
}

.rounded {
  border-radius: 8px;
}

.oval {
  border-radius: 9999px;
}

.container:hover {
  color: var(--color-light-focused-font);
}

.container.border:hover {
  border-color: var(--color-light-focused-font);
}

.container.dark:hover {
  color: var(--color-dark-focused-font);
}

.container.dark.border:hover {
  border-color: var(--color-dark-focused-font);
}
